<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellpadding="5">
    <tr>
        {% for user in users %}
            <td>{{ user.name }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for user in users %}
            <td>
                <table border="1" cellpadding="5">
                    {% for project in user.projects %}
                        <tr>
                            <td>{{ project.name }}
                                {% if project.duration %}
                                <br /><b>{{ project.duration }} minutes</b>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </td>
        {% endfor %}
    </tr>
</table>
</body>
</html>